:root {
    --navy-blue: #2E2F42;
    --slate:#434455;
    --cloud:#F4F4FD;
    --white: #ffffff;
    --iris: #4D5AE5;
}

body {
 font-family: 'Roboto', sans-serif;
 background: #ffffff;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* HEADER */

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.logo-color {
    color: var(--iris);
}

.header-link:hover, .header-link:focus {
    color: var(--iris);
}


.header-address-item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.header-address-item:hover, .header-address-item:focus {
    color: var(--iris);
}


.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
}

/* HERO */

.hero {
    background: var(--navy-blue);
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
}

/* ADVANTAGES */

.hidden-title {
    visibility: hidden;
}

.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.advantages-description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* PROJECTS */


.projects-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}

/* TEAM */

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.team-position {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* FOOTER */

.footer {
    background-color: var(--navy-blue);
}

/* PORTFOLIO */

.filter-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;    
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--iris);
}